<div id="pre-header">
  <div class="pre-header">
    <span><B>Welcome to Our SkinCare Informational Store !</B></span>
  </div>

  <div class="header">
    <a href="#default" class="logo"></a>
    <a routerLink="" class="logo" >SkinCare<span>Hub</span> </a>

    <div class="header-right">
      <a routerLink="">Home</a>
      <a routerLink="articles">Articles</a>
      <a routerLink="aboutus">About Us</a>
      <a routerLink="login">Login </a>
      <a  routerLink="signup">Sign Up</a>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
