<div class="about-section">
  <h1>About Us </h1>
  <div style="width :45%;display: inline-block ">
    <h2>Good Skin Care is important.......</h2>

    Skin is one of the largest organs of the body. Because of this, caring for your skin can directly affect your overall health. Your skin acts as a protective shield and is most vulnerable to outside elements. It’s affected by more factors than you may think. or instance, the following can play a role in your overall skin health:
    <ul >
      <li>exposure to UV radiation in tanning beds</li>
      <li> unprotected sun exposure for long periods of time</li>
      <li>aging</li>
    </ul>
    Therefore it is better to gain more information about your skin condition. We hope that our website will help you to gain some knowledge.

  </div>


  <div style="width :45%;display: inline-block ;vertical-align: top; ">
    <img src="assets/photos/1.jpg" alt="Image" style="width: 100%">
  </div>
</div>>

